@media (max-width: 769px) {
    main::after {
        width: 100vw;
        height: 100vh;
    }

    main .modelo .imagem {
        height: 85%;
    }

    main .modelo .video {
        display: none;
    }

    .GT3RR_3 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gt911ST {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .Spyder718 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .taycanTurboS {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .macanGTS {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .conteudo {
        justify-content: flex-end;
        left: 0;
        top: -20%;
        max-width: 100vw;
        padding: 10px;
    }

    .conteudo .nome-modelo {
        font-size: 36px;
    }

    .conteudo .descricao {
        display: none;
    }

    .botoes {
        background-color: rgba(0, 0, 0, 0.0);
        bottom: 0;
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        padding: 30px;
        gap: 15px;
    }

    .botoes .botao img {
        max-height: 120vh;
        max-width: 60vw;
    }
    
    .logo-topo {
        background: fixed;
        height: 25px;
        width: 128px;

        left: 10px;
        top: 5%;
    }
}



@media (max-width: 690px) {
    main::after {
        width: 100vw;
        height: 100vh;
    }

    main .modelo .imagem {
        height: 85%;
    }

    .conteudo {
        justify-content: flex-end;
        left: 0;
        top: -20%;
        max-width: 100vw;
        padding: 10px;
    }

    .conteudo .nome-modelo {
        font-size: 36px;
    }

    .conteudo .descricao {
        display: none;
    }

    .botoes {
        background-color: rgba(0, 0, 0, 0.0);
        bottom: 0;
        flex-direction: row;
        align-items: flex-end;
        width: 100%;
        padding: 30px;
        gap: 15px;
    }

    .botoes .botao img {
        max-height: 100vh;
        max-width: 15vw;
    }
    
    .logo-topo {
        background: fixed;
        height: 25px;
        width: 128px;

        left: 10px;
        top: 5%;
    }
}




@media (max-width: 425px) {
    main .modelo .imagem {
        height: auto;
    }

    .conteudo {
        top: -15%;
    }

    .conteudo .nome-modelo {
        font-size: 24px;
    }

    .botoes {
        padding: 20px;
        top: -20%;
    }

    .botoes .botao img {
        max-width: 50px;
    }
}